$primaryColor : #86EBD9;
$secondaryColor : rgba(134,235,217,0.47);

$loaderPrimaryColor : #3F898D;
$loaderSecondaryColor : rgba(63,137,141, 0.5);

$colorFont : #FFF;

$primaryFontSize : 10px;
$titleFontSize : 12px;
$timerFontSize : 15px;