@import '../mixins';
@import '../variables';
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorFont;
    font-size: $timerFontSize;
    @include glassmorphism();
}